requests>=2.25
Pillow>=9.0       # For screenshots
psutil>=5.8       # For process/window info
pyautogui         # Optional: For idle detection or alternative screenshots
python-dotenv     # To load config if needed
pyinstaller>=5.0  # For packaging the agent
pywin32           #python venv\Scripts\pywin32_postinstall.py -install
#pywin32_postinstall # For Windows specific features